.Search .form-control {
  display: inline;
  width: 270px;
  background-color: var(--form-background);
  border-color: var(--border);
}

.Search .btn-design {
  background-color: var(--search-button-color);
  border-color: var(--border);
  position: relative;
  top: -2px;
  color: var(--text-color);
}

.Search .coordinates-image {
  width: 50px;
  margin-top: -5px;
  height: auto;
}

.Search .coordinates-image:hover {
  cursor: pointer;
  background-color: var(--main-color);
  border-radius: 4px;
}
