.Weather .card-subtitle {
  color: var(--subtitle-color);
  font-weight: bold;
}

.Weather .card {
  width: 200px;
  border: 5px solid var(--main-color);
  box-shadow: 8px 8px var(--main-color);
  background-color: var(--other-background);
}

.Weather .card-body {
  text-align: center;
  background-color: var(--other-background);
}

.Weather .card-title {
  color: var(--text-color);
}

.Weather .weather-description {
  text-transform: capitalize;
}

.Weather .degrees {
  padding: 10px 10px;
  color: var(--text-color);
}

.Weather .current-weather-emoji {
  width: 50px;
  margin-top: -5px;
  height: auto;
}

.Weather .current-weather-emoji:hover {
  cursor: pointer;
  background-color: var(--main-color);
  border-radius: 4px;
}
