.Weather .card-subtitle {
  color: #6c757d !important;
  font-weight: bold;
}

.Weather .card {
  width: 200px;
  border: 5px solid #8cc7f4;
  box-shadow: 8px 8px #8cc7f4;
}

.Weather .card-body {
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.Weather .weather-description {
  text-transform: capitalize;
}

.Weather .degrees {
  padding: 10px 10px;
}

.Weather .current-weather-emoji {
  width: 50px;
  margin-top: -5px;
  height: auto;
}

.Weather .current-weather-emoji:hover {
  cursor: pointer;
  background-color: #8cc7f4;
  border-radius: 4px;
}
